*.iml
.idea/*
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

composeApp/build
iosApp/iosApp/Secrets.plist
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata
